<!DOCTYPE html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl">
<head>
<meta charset="utf-8">

<script
	src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
<script src="js/controllers.js"></script>
<link rel="stylesheet" type="text/css" href="css/main.css">
<title>Google Phone Gallery : {{query}}</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<!-- sidebar content -->
				Search : <input ng-model="query">
				Sort by:
				<select ng-model="orderProp">
				<option value="Age">Newest</option>
				<option value="-Age">Oldest</option>
				</select>

			</div>

			<div class="span10">
		          <!-- body content -->	
			
				<ul class="phones" style="list-style-type: none; padding: 10px;">
					<li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail">
					<a href="#/phones/{{phone.id}}" class="thumb"><img style="width:10%;height:10%" ng-src="{{phone.ImageUrl}}"/></a>  
					<a href="#/phones/{{phone.id}}"><div>{{phone.Name}}</div></a>		      
					<p>{{phone.Snippet}}</p>
					
						<br/></br>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>